</main>
<footer class="footer bg-dark py-3 mt-auto">
	<div class="container-fluid px-5">
		<div class="row">
			<div class="footer-col">
				<h4>About us</h4>
				<p>Welcome to visit India. visit India is how you can find joyful experiences for anytime, anywhere.
					Looking for fun things to do nearby? The best weekend getaway deals? Or just need to get from A to B when you're traveling? visit India is all of this and more. Best of all, everything's a few taps away. </p>
			</div>
			<div class="footer-col ps-md-5">
				<h4>get help</h4>
				<ul class="ps-0">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">returns</a></li>
					<li><a href="#">order status</a></li>
					<li><a href="#">payment options</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="mailto:abc@gmail.com"><i class="fa-solid fa-envelope"></i></a>
					<a href="https://www.linkedin.com/in/kaushal-bhandary"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="footer-col">
				<h4>Contact us</h4>
				<div class="right box_footer">
					<div class="content_box">
						<form action="https://formsubmit.co/kbhandary672@gmail.com" method="post">
							<div class="email">
								<div class="text">Name *</div>
								<input type="text" name="name" required>
							</div>
							<input type="hidden" name="_url" value="https://visit-india.cyclic.app">
							<div class="email">
								<div class="text">Email *</div>
								<input type="email" name="email" required>
							</div>
							<div class="msg_box">
								<div class="text">Message *</div>
								<textarea rows="2" cols="25" name="message" required></textarea>
							</div>
							<div class="btn_box">
								<button type="submit">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>