<% layout('layout/boilerplate') %>
<div class="container my-5">
	<div class="alert alert-danger col-md-6 offset-md-3" role="alert">
		<h4 class="alert-heading text-center"><%= err.message %></h4>
	</div>
</div>